<div class="container mt-4 shadow w-50">
  <h1>Ajout de produit</h1>
  <form >
    <div class="form-group">
      <label for="searche_product">Rechercher un produit</label>
      <input type="searche" [(ngModel)]="productName" class="form-control" name="searche_product" id="searche_product">
    </div>

    <button type="submit" (click)="OnSearche()" class="btn btn-outline-success mt-4">Valider</button>
  </form>
</div>

<div class="container pt-4">
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom produit</th>
      <th scope="col">Prix</th>
      <th scope="col">Date de creation</th>
    </tr>
    </thead>

    <tbody  >
    <tr>
      <th scope="row">{{produits.id}}</th>
      <td>{{produits.name}}</td>
      <td>{{produits.price}}</td>
      <td>{{produits.dateCreation|date:'yyyy-MM-dd'}}</td>
    </tr>
    </tbody>
  </table>
</div>

